# Blacklist Every File
*

# Whitelist Javascript Files
!gulpfile.js
!karma.conf.js
!package.json
!server.js

# Whitelist Markdown Files
!license.md
!README.md

# Whitelist Dot Files
!.babelrc
!.envrc
!.eslintignore
!.eslintrc
!.gitignore
!.jsbeautifyrc
!.nvmrc
!.stylelintrc
!.travis.yml

# Whitelist Source Files
!/app
!/app/**/*

# Whitelist Task Files
!/task
!/task/**/*

# Whitelist Readme Files
!/readme
!/readme/**/*

# Whitelist Install Files
!/install
!/install/*
!/install/extra/**/*
!/install/project/**/*

# Blacklist Other Files
.DS_Store
/node_modules
/node_modules/**/*