# Blacklist Every File
*

# Whitelist Javascript Files
!server.js
!gulpfile.js
!karma.conf.js

# Whitelist Config Files
!.envrc
!.nvmrc
!.stylelintrc
!.eslintignore
!.Procfile
!.gitignore
!deploy

# Whitelist Source Files
!/dist
!/dist/**/*

# Whitelist Source Files
!/app
!/app/**/*

# Whitelist Dev Files
!/dev
!/dev/**/*

# Blacklist Other Files
.DS_Store

# Blacklist Other Files
.DS_Store
/node_modules
/node_modules/**/*