# Blacklist Every File
*

# Whitelist Top-Level Files
!producer.js
!deps.json
!gulpfile.js
!karma.js
!package.json
!server.js
!license.md
!README.md
!uglify.json
!.babelrc
!.envrc
!.eslintignore
!.eslintrc.js
!.gitignore
!.jsbeautifyrc
!.nvmrc
!.stylelintrc
!.travis.yml

# Whitelist Doc Folder
!/doc
!/doc/**/*

# Whitelist Source Files
!/app
!/app/**/*

# Whitelist Dev Files
!/dev
!/dev/**/*

# Whitelist Readme Files
!/readme
!/readme/**/*

# Blacklist Nested Files
.DS_Store
.fusebox
