# Blacklist Every File
*

# Whitelist Top-Level Files
!producer.js
!package.json
!license.md
!README.md
!.babelrc
!.envrc
!.eslintrc.js
!.gitignore
!.nvmrc

# Whitelist Doc Folder
!/doc
!/doc/**/*

# Whitelist Source Files
!/app
!/app/**/*

# Whitelist Dev Files
!/dev
!/dev/**/*

# Blacklist Nested Files
.DS_Store
.fusebox
