h1#rectangular 
	a(href='https://github.com/abbotto/rectangular') {{vm.projectName}}
p
	a(href='https://travis-ci.org/abbotto/rectangular')
		img(src='https://travis-ci.org/abbotto/rectangular.svg?branch=master', alt='Build Status')
hr

h2#introduction Introduction
p A build kit for AngularJS applications.
p Rectangular is built upon the latest AngularJS 1.x.x release.
p It is designed from the ground up to be:
ul
	li Component-based
	li Organized
	li Modular
	li Scalable
	li Testable
	li Efficient
	li Presentable
hr

h3#bells-and-whistles Bells and Whistles
ul
	li UI Support for: 
		ul
			li AngularStrap and Angular Material via 
				a(href='https://github.com/abbotto/rectangular-ui') Rectangular UI
	li Upload support for:
		ul
			li file drag-n-drop
			li progress indicators
			li validation filters
			li file queuing
	li Caching support for: 
		ul
			li environment variables
			li data models
			li templates
	li 
		a(href='https://pugjs.org/api/getting-started.html') PUG
		|  templating support:
		ul
			li Write it directly in your HTML files
	li A fast and robust promise implementation
	li An advanced REST interface
	li Locale support for multiple languages
	li An extension system